<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oficina Mecânica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OficinaMecanica.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Oficina Mecânica</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="cadastrosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadastros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="cadastrosDropdown">
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroCargo">Cargo</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroCategoria">Categoria</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroMarca">Marca</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroModelo">Modelo</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroClienteCPF">Cliente Físico</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroClienteCNPJ">Cliente Jurídico</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroFuncionario">Funcionário</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroServico">Serviço</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroVeiculo">Veículo</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="CadastroOrdemServico">Ordem de Serviço</a>
                            

                                
                                <!-- Nested Dropdown 
                                <div class="nav-link dropdown dropend">
                                    <p class="dropdown-item dropdown-toggle" href="#" id="clientesDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Clientes
                                    </p>
                                    <div class="dropdown-menu dropend" aria-labelledby="clientesDropdown">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="CadastroClienteCPF">Cliente Físico</a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="CadastroClienteCNPJ">Cliente Jurídico</a>
                                    </div>
                                </div>-->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Visualizacao">Visualizar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Relatorio">Relatórios</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Oficina Mecânica - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
